<footer class="widewrapper footer">
  <div class="container">
    <div class="row footer">

      <div class="col-sm-3">
        <h4>{{ site.organization.name }}</h4>
        {% if site.organization.location1 %}
        {{ site.organization.location1.name }}: {{ site.organization.location1.address }}
        [<a href="{{ site.organization.location1.map_url }}" target="_blank">Baidu Maps</a>]<br><br>
        {% endif %}
        {% if site.organization.location2 %}
        {{ site.organization.location2.name }}: {{ site.organization.location2.address }}
        [<a href="{{ site.organization.location2.map_url }}" target="_blank">Baidu Maps</a>]<br><br>
        {% endif %}
        {% if site.organization.city %}{{ site.organization.city }}<br>{% endif %}
        <a href="mailto:{{ site.organization.email }}">Contact</a>
      </div>

      <div class="col-sm-3">
        <div class="indent30">
          <h4>Affiliated Groups</h4>
          <ul class="grove-list">
            <li><a href="https://www.sii.edu.cn/" target="_blank">Shanghai Innovation Institute (SII)</a></li>
            <li><a href="https://www.fudan.edu.cn/en/" target="_blank">Fudan University</a></li>
            <li><a href="https://nlp.fudan.edu.cn/nlpen/main.htm" target="_blank">Fudan NLP Group</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="indent30">
          <h4>Connect</h4>
          <ul class="grove-list">
            <li><a href="{{ site.social.github }}">GitHub</a></li>
            <li><a href="{{ site.social.twitter }}">Twitter</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="indent30">
          <h4>Resources</h4>
          <div class="small" style="text-align:left">
            <a href="{{ '/resources/' | relative_url }}">Reading List</a><br>
            <a href="{{ '/software/' | relative_url }}">Software & Tools</a><br>
            <a href="{{ '/publications/' | relative_url }}">Publications</a><br>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
